header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

h2 {
  padding: 10px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

main {
  display: grid;
  grid-template-columns: 300px auto;
}

@media only screen and (max-width: 750px) {
  main {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto auto;
    margin: 0px auto;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: auto 0;
}

nav ul li {
  margin-left: 25px;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5fr 1fr 1fr;
  padding: 10px;
  margin-left: 5px;
}

.bio {
  grid-column: 1 / span 3;
}

.container {
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 1fr;
  height: 100vh;
  row-gap: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.projects figure {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  width: 375px;
  margin: 5px;
}

.projects figure img {
  width: 12rem;
}

.project-item {
  padding: 10px;
}

.selfie {
  order: -1;
  grid-column: 1 / span 3;
}

.selfie img {
  width: 200px;
}
