:root {
  --rich-black-fogra-39: #040f0f;
  --forest-green-web: #248232;
  --green-pantone: #2ba84a;
  --outer-space-crayola: #2d3a3a;
  --baby-powder: #fcfffc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--baby-powder);
  background-color: var(--outer-space-crayola);
}

a {
  color: var(--outer-space-crayola);
}

a:hover {
  color: var(--outer-space-crayola);
}

a:active {
  color: var(--green-pantone);
}

footer {
  background-color: var(--green-pantone);
}

header {
  background-color: var(--green-pantone);
}

h2 {
  background-color: var(--outer-space-crayola);
  color: var(--baby-powder);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.about-me {
  background-color: var(--green-pantone);
}

.projects figure {
  background-color: var(--green-pantone);
}
