body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #696E77;
}

a {
  color: white;
}

a:hover {
  color: #7B91A3;
}

a:active {
  color: #48616E;
}

header {
  background-color: #20323D;
}

footer {
  background-color: #20323D;
}

.about-me {
  background-color: #45434F;
}

.projects figure {
  background-color: #45434F;
}
h2 {
  background-color: #20323D;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
