body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #696e77;
}

a {
  color: white;
}

a:hover {
  color: #7b91a3;
}

a:active {
  color: #48616e;
}

footer {
  background-color: #20323d;
}

header {
  background-color: #20323d;
}

h2 {
  background-color: #20323d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.about-me {
  background-color: #45434f;
}

.projects figure {
  background-color: #45434f;
}
